*{
  box-sizing: border-box;
}

body{
  font-size: 1rem;
}
.progressDiv {
  height: 30px;
}

#root{
  position: relative;
  min-height: 100vh;
}

.page-content{
  padding-bottom: 10rem;
}

#page-footer {
  height: 10rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}


#searchbar{
    border: 1px solid #ced4da;
    border-radius: 30px;
}

#searchinput{
    height: 3em;
    border: 0;
    line-height: 2rem;
    outline: 0;
    background: none;
    padding: .375rem 1rem;
    box-shadow: none;
}
#searchinput:focus{
    border: 0;
    box-shadow: none;
}


.content pre{
  white-space: pre-wrap;
  background: #f7f9fa;
}

.tooltip-inner{
  font-size: 0.9rem;
  border-radius:10px;
  background:rgb(38, 38, 38);
  color: rgb(119, 255, 140);
}

.question_title p{
    font-size: 16px;
    color: rgb(33, 33, 33);
    font-weight: 600;
}

.question_id {
    line-height: 3em;
}

.syntax_highlighter{
    padding: 5em !important;
}

@media only screen and (max-width: 767px) {
  .syntax_highlighter {
    padding-top: 8.5em !important;
  }
  .question_id {
      text-align: center;
  }
}

.code_content {
  position: relative;
  padding-bottom: 1em !important;
}

.submission_info {
    height: 5em;
    position: absolute;
    top: 1em;
    transform: translateX(1em);
    width: 100%;
    padding: 1em;
}

#commit_btn {
    padding-bottom: 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: auto;
}

.commit{
  border: 1px solid grey !important;
  padding: 2em;
  border-radius:12px 6px;
  position: relative !important;
  background-color: #FDF6E3;
}

.commit::before, .commit::after{
  position: absolute;
  bottom: 100%;
  left: 96%;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: "";
  border: solid transparent;
}

.commit::after{
  border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #FDF6E3;
	border-width: 9px;
	margin-left: -9px;
}
.commit::before{
  border-color: rgba(194, 225, 245, 0);
	border-bottom-color: grey;
	border-width: 11px;
	margin-left: -11px;
}

.commit_form_data input, .commit_form_data textarea{
  border: 1px solid black !important;
  border-radius: 6px;
  margin-bottom: 1em;
  padding: 0 1em;
}
.commit_form_data input, .commit_form_data textarea{
  box-shadow: none !important;
}