body{
  font-size: 1rem;
}
.progressDiv {
  height: 30px;
}

#root{
  position: relative;
  min-height: 100vh;
}

.page-content{
  padding-bottom: 10rem;
}

#page-footer {
  height: 10rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}


#searchbar{
    border: 1px solid #ced4da;
    border-radius: 30px;
}

#searchinput{
    height: 3em;
    border: 0;
    line-height: 2rem;
    outline: 0;
    background: none;
    padding: .375rem 1rem;
    box-shadow: none;
}
#searchinput:focus{
    border: 0;
    box-shadow: none;
}


.content pre{
  white-space: pre-wrap;
  background: #f7f9fa;
}